h1 Bonjour #{userName},
p Merci d'avoir réservé chez SuperVitre !
p Votre numéro de réservation est : 
  strong #{bookingReference}.
p Nous vous contacterons bientôt avec plus de détails.
br
p Cordialement,
p L'équipe SuperVitre